@font-face {
    font-family: centauri;
    src: url(/css/centauri.ttf);
}

html {
  background: url(/css/background.gif) no-repeat center center fixed;
  background-size: cover;
  height: 100%;
  background-color: #242455;
    font-family: courier;
    color: #8ff1ec;
    text-shadow: 0 0 2px #aefff7, 0 0 4px #a5ddda;      
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 88px;
  z-index: 10;
  background: #eeeeee;
  -webkit-box-shadow: 0 7px 8px rgba(0, 0, 0, 0.12);
  -moz-box-shadow: 0 7px 8px rgba(0, 0, 0, 0.12);
  box-shadow: 0 7px 8px rgba(0, 0, 0, 0.12);
}    

header__content-text {
  text-align: center;
  padding: 15px 20px;
}

page__content-container {
  margin: 100px auto;
  width: 975px;
  padding: 30px;
}
.bodycontainer {
    margin: 1% auto;
    width: 70%;
    background-color: #202020;
    border-radius: 25px;
    padding: 20px;
}

nav {
    margin: 1% auto;
    width: 70%;
    background-color: #202020;
    border-radius: 25px;
    padding: 20px;
}

#bg {
  position: fixed; 
  top: -50%; 
  left: -50%; 
  width: 200%; 
  height: 200%;
}
#bg img {
  position: absolute; 
  top: 0; 
  left: 0; 
  right: 0; 
  bottom: 0; 
  margin: auto; 
  min-width: 50%;
  min-height: 50%;
}

#blurb {
background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5),  rgba(0, 0, 0, 0.5)), url('/background.jpg');    
}

nav ul, footer ul {
    font-family:'centauri';
    padding: 0px;
    list-style: none;
    font-weight: bold;
}
nav ul li, footer ul li {
    display: inline;
    margin: auto;
}
a {
    text-decoration: none;
    color: #8ff1ec;
}
a:hover {
    color: #adedff;
    text-decoration: none;
}
a:visited {
    color: #72f1ec;
    text-decoration: none;
}
a:- {
    color: #72f1ec;
    text-decoration: none;
}
h1 {
    font-size: 1.5em;
    font-family:'centauri';
}
p {
    font-size: 1.5em;
	font-family:courier;
    line-height: 1.4em;
    color: #dbfffe;
}
nav li {
    font-family:'centauri';
    font-size: 0.7em;
    background-color: #3e3e3e;
    border-radius: 25px;
    padding: 8px;
}
nav li:hover {
    font-family:'centauri';
    font-size: 0.72em;
    background-color: #777777;
    border-radius: 25px;
    padding: 8px;
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.5);    
}
footer {
    border-top: 1px solid #d5d5d5;
    font-size: .4em;
    font-family:'centauri';
    font-size: 0.75em;
}
footer.a {
    text-decoration: none;
    color: #8ff1ec;
    font-family:'centauri';
}
footer.a:hover {
    color: #adedff;
    text-decoration: none;
    font-family:'centauri';
}
footer.a:visited {
    color: #72f1ec;
    text-decoration: none;
    font-family:'centauri';
}
footer.a:- {
    color: #72f1ec;
    text-decoration: none;
    font-family:'centauri';
}

ul.posts { 
    margin: 20px auto 40px; 
    font-size: 1.5em;
}

ul.posts li {
    list-style: none;
}

div.gsc-control-cse {
    background-color: #202020;
    border: 1px solid #202020;
}

div.gsc-control-cse.gsc-control-cse-en {
    background-color: #202020;
    border: 1px solid #202020;
}

button.gsc-search-button-v2 {
    border-color: #fff;
    background-color:#3e3e3e;
}

button.gsc-search-button-v2:hover {
    border-color: #fff;
    background-color: #777777;
}

img {
    max-width: 100%;
    max-height: 100%;
    border-radius: 25px;
    display:block;
    margin-left: auto;
    margin-right: auto;
}
img:hover {
    max-width: 100%;
    max-height: 100%;
    border-radius: 25px;
    display:block;
    margin-left: auto;
    margin-right: auto;
    transition-delay: 1s;
    transition-property: transform;
    transform: scale(1.15);
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.5);
}

.links {
  max-height: 100%;
  max-width: 100%;
  height:auto;
  display:flex;
  align-items:center;
  justify-content:center;    
}

.links img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
}

.imagecontainer {
  max-height: 100%;
  max-width: 100%;
  height:auto;
  display:flex;
  align-items:center;
  justify-content:center;    
}

::selection {
  background: #777777;
}

#cheerpjDisplay {
  margin: auto;
  width: 70%;
  border-radius: 25px;
  padding: 20px;
  height: auto;	
}
