<!DOCTYPE html>
	<html>
	<head>
		<title>{{ page.title }}</title>
		<!-- favicon stuff -->
		<meta name="msapplication-TileColor" content="#da532c">
		<meta name="theme-color" content="#ffffff">
		<!-- link to main stylesheet -->
		<link rel="stylesheet" type="text/css" href="/css/main.css">
		<script data-ad-client="ca-pub-5897349726266398" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>		
	</head>
		<body>
		<nav>
    		<ul>
        		<li><a href="/">home</a></li>
        		<li><a href="/projects">projects</a></li>
                <li><a href="/articles">articles</a></li>
				<script>
				(function() {
					var cx = '002460216212498455521:v6kcgqie0hx';
					var gcse = document.createElement('script');
					gcse.type = 'text/javascript';
						gcse.async = true;
						gcse.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') +
						'//cse.google.com/cse.js?cx=' + cx;
						var s = document.getElementsByTagName('script')[0];
						s.parentNode.insertBefore(gcse, s);
					})();
				</script>
				<gcse:search resultsUrl="http://jcarpenter48.github.io/"        newWindow="true" queryParameterName="search">
				<div class="gcse-search"></div>
    		</ul>
		</nav>
			<div class="post">
			
			{{ content }}
			
			</div><!-- /.post -->
			<footer>
    		<ul>
        		<li><a href="mailto:jcarpenter48@mail.com">email</a></li>
        		<li><a href="https://github.com/jcarpenter48">github.com/jcarpenter48</a></li>
			  </ul>
			</footer>
		</body>
	</html>
